@charset "UTF-8";

@media (min-width:1126px){

#slide {width: 100%; height: 450px; padding-top: 125px; background-image: url(../img/sub_slide.JPG); background-position: center; background-size: cover; text-align: center; color: #fff; font-size: 2rem;}

.sbtn {width: 150px; height: 40px; background-color: #35C5EF; float: left; font-size: 18px; border-radius: 25px; color: #fff; padding-top: 7px; cursor: pointer; text-align: center; float: left; margin: 20px; transition: .3s;}
.sbtn:hover {background-color: #000;}
.sbtn_background {width: 100%; height: 40px; margin: 0 auto; float: left; display: flex; justify-content: center;}

#wrap {width: 1126px; height: auto; margin: 0 auto; padding-top: 6%;}

#left {width: 70%; height: auto; margin: 0 auto; float: left;}
.p {color: #444; font-weight: lighter;}
.black {color: #000; font-weight: lighter;}

.ct img {width: 100%; height: 550px; margin: 0 auto; float: left; margin-bottom: 50px; border-radius: 20px;}

.date {width: 30%; height: auto; float: left; margin: 0 auto;}
.date img {width: 35px; height: 35px;}

#conte1 {width: 100%; height: auto; margin: 0 auto; float: left; margin-bottom: 70px;}
.conte {width: 70%; height: auto; float: right; margin: 0 auto;}
.conte h2 {color: #222; cursor: pointer;}
.conte h2:hover {color: #35C5EF; transition: .3s;}

#conte2 {width: 100%; height: auto; margin: 0 auto; float: left; margin-bottom: 70px;}
.conte2 {width: 70%; height: auto; float: right; margin: 0 auto;}
.conte2 h2 {color: #222; cursor: pointer;}
.conte2 h2:hover {color: #35C5EF; transition: .3s;}

.cbtn {width: 150px; height: 40px; background-color: #35C5EF; float: left; border-radius: 25px; text-align: center; color: #fff; font-weight: bold; padding-top: 8px; cursor: pointer; transition: .3s;}
.cbtn2 {width: 150px; height: 40px; background-color: #35C5EF; float: left; border-radius: 25px; text-align: center; color: #fff; font-weight: bold; padding-top: 8px; margin-bottom: 30px; cursor: pointer; transition: .3s;}
.cbtn:hover {background-color: #000;}
.cbtn2:hover {background-color: #000;}

.push {width: 70%; height: 25px; float: left;}
.icon {width: 30%; height: 25px; float: right;}
.icon img {width: 25px; height: 25px; float: right; cursor: pointer;}

.ho img {width: 100%; height: 550px; margin: 0 auto; float: left; border-radius: 4%; margin-bottom: 50px;}

#c_box {width: 100%; height: 1700px; display: flex; flex-flow: row wrap; justify-content: space-between; align-content: flex-start;}
#c_box h2 {color: #222; cursor: pointer; transition: .3s;}
#c_box h2:hover {color: #35C5EF;}

.c_left {width: 48%; height: auto;}
.c_left img {width: 100%; height: auto; border-radius: 5%;}

.c_right {width: 48%; height: auto;}
.c_right img {width: 100%; height: auto; border-radius: 5%;}

#right {width: 24%; height: auto; margin: 0 auto; float: right;}

#search {width:85%; height:45px; color: #000; border: 2px solid #35C5EF; padding-left: 10px; float: left; display: flex;}
.search {width: 100%; height: auto; float: left; background-color: #fff; cursor: pointer;}
.search img {width: 15%; height: 45px; border-top: 2px solid #35C5EF; border-bottom: 2px solid #35C5EF; border-right: 2px solid #35C5EF;}

.blue {color: #35C5EF;}
.categoreis {width: 100%; height: 375px; float: left;}
.category {color: #555; font-weight: lighter; line-height: 2.5; cursor: pointer;}
.category li:hover {color: #000; transition: .5s;}

.post {width: 100%; height: 350px; float: left;}
.post_box {width: 100%; height: auto; display: flex; justify-content: space-between; align-items: center; margin-bottom: 5px;}
.post_box img {width: 80px; height: 80px; border-radius: 50%;}

.today {width: 100%; height: auto; float: left; border-radius: 15px; margin-bottom: 50px;}

.instagram {width: 100%; height: 250px; float: left; padding-left: 5px;}
.instagram img {width: 31%; height: 85px; margin: 3px; float: left;}
.instagram img:hover {opacity: 0.7;}

.tag {width: 100%; height: auto; float: left; padding-left: 5px;}
.tage li a {width: auto; height: 30px; border: 1px solid #cacaca; border-radius: 10px; float: left; margin: 5px; padding-top: 3px;}
.tage li a:hover {border: 1px solid #35C5EF; transition: .3s;}

}